
<div class="container">
  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="images/product_1.jpg" class="responsive-img">
          <span class="card-title">{{product_1}}</span>
          <a class="btn-floating halfway-fab waves-effect waves-light pink lighten-4"><i class="material-icons">shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit Lorem, ipsum</p>
        </div>
        <h4 class="center"><i class="material-icons left">attach_money</i>{{price_1}} </h4>
        <div class="center">
            <form action="https://localhost:3443/checkout" method="POST">
            <input type="hidden" name="title" value={{product_1}}>
            <input type="hidden" name="price" value={{price_1}}>
            <input type="submit" value="Comprar" class="btn">
            </form>
        </div>
      </div>
    </div>
  
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="images/product_1.jpg" class="responsive-img">
          <span class="card-title">{{product_2}} </span>
          <a class="btn-floating halfway-fab waves-effect waves-light pink lighten-4"><i class="material-icons">shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet sit amet.</p>
        </div>
        <h4 class="center"><i class="material-icons left">attach_money</i>{{price_2}} </h4>
        <div class="center">
            <form action="https://localhost:3443/checkout" method="POST">
            <input type="hidden" name="title" value={{product_2}}>
            <input type="hidden" name="price" value={{price_2}}>
            <input type="submit" value="Comprar" class="btn">
            </form>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="images/product_1.jpg" class="responsive-img">
          <span class="card-title">{{product_1}} </span>
          <a class="btn-floating halfway-fab waves-effect waves-light pink lighten-4"><i class="material-icons">shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet sit amet.</p>
        </div>
        <h4 class="center"><i class="material-icons left ">attach_money</i>{{price_1}} </h4>
        <div class="center">
            <form action="https://localhost:3443/checkout" method="POST">
                <input type="hidden" name="title" value={{product_1}}>
                <input type="hidden" name="price" value={{price_1}}>
                <input type="submit" value="Comprar" class="btn">
            </form>
        </div>
      </div>
    </div>

    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="images/product_1.jpg" class="responsive-img">
          <span class="card-title">{{product_2}} </span>
          <a class="btn-floating halfway-fab waves-effect waves-light pink lighten-4"><i class="material-icons">shopping_cart</i></a>
        </div>
        <div class="card-content">
          <p>Lorem ipsum dolor sit amet sit amet.</p>
        </div>
        <h4><i class="material-icons left">attach_money</i>{{price_2}} </h4>
        <div class="center">
            <form action="https://localhost:3443/checkout" method="POST">
            <input type="hidden" name="title" value={{product_2}}>
            <input type="hidden" name="price" value={{price_2}}>
            <input type="submit" value="Comprar" class="btn">
            </form>
        </div>
      </div>
    </div>

  </div>
</div>